body {
  background-color: gray;
  color: white;
}

section {
  min-height: 100vh;
  color: black;
  background-image: url("https://img.freepik.com/free-vector/programmers-using-javascript-programming-language-computer-tiny-people-javascript-language-javascript-engine-js-web-development-concept-bright-vibrant-violet-isolated-illustration_335657-986.jpg?uid=R163085514&ga=GA1.1.69254182.1736183646&semt=ais_hybrid");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

section h1 {
  font-size: 60px;
}

h3 {
  font-size: 45px;
  background-color: blueviolet;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
}
p {
  font-size: 32px;
  margin-bottom: 250px;
}
